<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senhas Salvas</title>
    <link rel="stylesheet" type="text/css" href="../assets/style_showPasswords.css">
</head>
<body>
    <div class="blur-background"></div>
    <div class="content">
        <h1>Senhas Salvas</h1>
        <ul id="passwords"></ul>
        <button onclick="deletePassword()">Excluir senha</button>
        <button onclick="goToIndex()">Voltar para Início</button>
        <script src="../controller/script_showPasswords.js"></script>
        <footer>&copy; Alexandre trieste 2024 - Todos os direitos reservados</footer>
    </div>
</body>
</html>
